version: 2
jobs:
  build:
    working_directory: ~/AndroidDemo

    docker:
      - image: circleci/openjdk:8-jdk-browsers

    steps:
      - checkout
      
      - run: mvn dependency:go-offline
      
      - save_cache: # saves the project dependencies
          paths:
            - ~/.m2
          key: AndroidDemo-{{ checksum "pom.xml" }}

      
      - run: mvn package # run the actual tests
      
      - store_test_results: # uploads the test metadata from the `target/surefire-reports` directory so that it can show up in the CircleCI dashboard. 
      # Upload test results for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: target/surefire-reports
      
      - store_artifacts: # store the uberjar as an artifact
      # Upload test summary for display in Artifacts: https://circleci.com/docs/2.0/artifacts/
          path: target/demo-java-spring-0.0.1-SNAPSHOT.jar
      # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples
